*
{
    padding:0;
    margin:0;
}

body
{
    font-family:sans-serif;
    background-color: #ACD6FF;
    background-position-x: 10px;
    background-size: cover;

}

.menu
{
    background:#0066CC;
    text-align:center;
}

.menu ul
{
    display:inline-flex;
    list-style:none;
    color:#fff;
}

.menu ul li
{
    width:120px;
    margin:15px;
    padding:15px;
}

.menu ul li a
{
    text-decoration: none;
    color:#fff;
}

.menu ul li:hover
{
    background:#ACD6FF;
    border-radius:3px;
}