*
{
    padding:0;
    margin: 0;
}
.menu
{
    background:#0066CC;
    text-align: center;
    /* padding:20px; */
   
}
.menu ul
{
    display:inline-flex;
    list-style:none;
    color:#fff;
}

.menu ul li
{
    width:120px;
    margin:15px;
    padding:15px;
}

.menu ul li a
{
    text-decoration: none;
    color:#fff;
}

.menu ul li:hover
{
    background:#ACD6FF;
    border-radius:3px;
}

li{
    list-style-type: none;  /* 記號不出現 */
    list-style:none;
    display:inline;
    width:120px;
    margin:15px;
    padding:15px;
}

a{
    color:#fff;
    text-decoration: none;
    color: inherit; /* 移除超連結顏色 */
}

a:hover
{

    color:#4c0668;/* 當滑鼠經過時，超連結文字顏色變成桃紅色 */
    position: relative; /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
    top: 3px;
    left: 3px;
}

.flex
{
    display: -webkit-flex;
    display: flex;
    background-color:  cornflowerblue;
}

.item
{
    -webkit-flex:5;
    flex:5;
    background-color: cornflowerblue;
   text-align: center;
}

.item1
{
    -webkit-flex:3;
    flex:3;
    text-align: center;
    position: relative;
    /* top: 180px; */
    right: 10%;
    /* color: blanchedalmond; */
    background-color: cornflowerblue;
}

body
{
    background-color: black;
}


.box
{
  width:auto;
  height: auto;
  color: #000;
  /* height: auto; */
  box-shadow: -7px -7px 17px rgba(255,255,255,0.5),
               7px 7px 17px rgba(80,80,80,0.12);
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  top:50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(255,255,255,0.5);/*#D2E9FF */
  flex-direction: column;
}

h3
    {
        /*text-decoration-line:  ;*/
        letter-spacing: 10px;
        margin: 0;
        /* line-height: 20px; */
    }

    h1{
        position: relative;
        top: 150px;
    }
    
    h4{
        position: relative;
        top: 150px;
    }
